.headDiv {
  background-color: #8ebc8e;
  min-height: 19vh;
  min-width: 1000px;
  box-sizing: border-box;
}

.divPrague {
  background-color: #ffff01;
  height: 185px;
  width: 490px;
  border-style: dotted;
  border-width: 6px;
  margin: 35px auto 0px 40px;
}

.divParis {
  background-color: #9acd32;
  height: 185px;
  width: 490px;
  border-style: dashed;
  border-width: 6px;
  margin: 0px 40px 0px auto;
}

.divGermany {
  background-color: #9470dc;
  height: 185px;
  width: 490px;
  border-style: dashed;
  border-width: 6px;
  margin: 0px auto 0px 180px;
}

.divAustria {
  background-color: #fa8071;
  height: 185px;
  width: 490px;
  border-style: dotted;
  border-width: 6px;
  margin: 0px 640px 0px auto;
}

h1 {
  font-size: 2rem;
  padding-top: 25px;
  margin-bottom: -18px;
  text-align: center;
  text-decoration: overline;
  letter-spacing: 8px;
}

ul {
  font-size: 1.1rem;
  list-style-type: none;
  text-align: center;
  letter-spacing: 5px;
}

.liParisAndAustria {
  font-weight: 700;
  color: #145d0b;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.liTallin {
  text-decoration: line-through #791e07 2px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
}

p {
  margin: 25px;
  text-indent: 30px;
  font-size: 1.1em;
  line-height: 1.8em;
}
